.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 80px;
  margin: 0px;
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

/* HZ , NOT USE*/

.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 85px;
  border-radius:0;
}

.wd-kanbas-navigation .list-group-item {
    color: white;
    background-color: black;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius:0;
}

.wd-kanbas-navigation .list-group-item.active {
    color: red;
    background-color: white;
    border-color: white;
    border-radius:0;
}

.text {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 12px;
    text-align: center;
    border-radius:0;
}

.icon-active {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 2em; 
    color: grey; 
    text-align: center;
}

.icon {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 1.5em; 
    color: red; 
    text-align: center;
}

.neu-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 3.5em; 
    color: red; 
    text-align: center;
}


.list-group {
    border-radius:0;
}

