.wd-kanbas-navigation .wd-icon {
    font-size: 30px;
    margin-right: 10px;
    color : rgba(232, 17, 17, 0.893);
  }
  
  .wd-kanbas-navigation .list-group-item:first-child,
  .wd-kanbas-navigation .list-group-item:last-child,
  .wd-kanbas-navigation .list-group-item.active:last-child,
  .wd-kanbas-navigation.list-group {
    border-radius: 0px;
  }
  
  .wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 80px;
    margin: 0px;
  }
  
  .wd-kanbas-navigation a {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
    background-color: black;
    border: none;
  }
  
  .wd-kanbas-navigation a.active {
    background-color: white;
    color : red;
  }

  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  
  /* Styles for Account icon and text when not selected */
.wd-kanbas-navigation a[href*="Account"] {
  color: white;
}

.wd-kanbas-navigation a[href*="Account"] .wd-icon {
  color: white;
}

/* Styles for Account icon and text when selected */
.wd-kanbas-navigation a.active[href*="Account"] {
  color: red;
}

.wd-kanbas-navigation a.active[href*="Account"] .wd-icon {
  color: red;
}
  
